/*
Colors!
White: #fff
Black: #000
Background light blue: #b5e5f5
Accent light blue: #d1faff
Text Color -- Dark purple accent: #1b0029
Link hover color: #600091


*/

body{
    font-family: "Amethysta", system-ui;
    font-weight: 400;
    font-style: normal;
    min-height:94vh;
    display:flex;
    flex-direction:column;
    background-color:#b5e5f5;
    border: 8px solid #000;
    margin:auto;
}

header{
    margin:20px;
    text-align:center;

}

main{
    margin:10px;
    text-align:center;

}

footer{
    background-color: #fff;
    text-align:center;
    margin-top:auto
}

p {
    color:#1b0029;

}

button {
    border:none;
    font-family:inherit;
    background-color:#d1faff;
    color:#1b0029;
    text-decoration:none;
    padding:10px;

    border-radius:3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.4);

    font-size: 20px;
}

button:hover, button:focus{
    cursor:pointer;
    opacity:0.8;
    color:#600091
}

a {
    color:#1b0029;
}

a:hover, a:focus{
    /* removes underline when hovering*/
    text-decoration:none;
    color:#600091;
}

a:active {
    /* removes underline when hovering*/
    text-decoration:underline;
    color:#09ff00;
}

table {
    text-align:center;
    color:#1b0029;
    border:2px solid #000;
    background-color:#d1faff;
    margin-left:auto;
    margin-right:auto;
}

th {
    border:2px solid #000;
    padding:0px 5px;
}

td {
    border:1px solid #000;
    padding:0px 5px;
}
textarea{
    width:400px;
    height:150px
}

.button__message {
    background-color:#57fcfc;
}

.navigation-list{
    list-style-type: none;
    padding-left:0;
    text-align:center;
}

.navigation-list__item--active{
    text-decoration:underline;
    color:#600091;

}

.navigation-list__item--active:hover, .navigation-list__item--active:focus{
    cursor:default;
    opacity:1;

}

.image-link{
    text-decoration:none;
}

.portrait {
    width:300px;
    height:300px;
}

.xtra-line-space {
    line-height:1.6;
}
    