/*
Colors!
White: #fff
Black: #000
Background light green: #b5e5f5
Accent light green: #dad7cd
Text Color -- Dark purple accent: #1b0029
Link hover color: #600091
Accent dark green: #344e41


*/

*{
    box-sizing: border-box;
}

body{
    font-family: "Amethysta", system-ui;
    font-weight: 400;
    font-style: normal;
    min-height:94vh;
    display:flex;
    flex-direction:column;
    background-color:#a3b18a;
    border: 8px solid #344e41;
    margin:auto;
}


main{
    margin:10px;
    margin-bottom:100px;
    text-align:center;

}


p {
    color:#1b0029;

}

button {
    border:none;
    font-family:inherit;
    background-color:#dad7cd;
    color:#1b0029;
    text-decoration:none;
    padding:10px;
    margin:5px;

    border-radius:3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.4);

    font-size: 20px;
}

button:hover, button:focus{
    cursor:pointer;
    opacity:0.8;
    color:#600091
}

h1{
    color:#1b0029;
}
h2{
    color:#1b0029;
}

a {
    color:#1b0029;
}
label {
    color:#1b0029;
}

a:hover, a:focus{
    /* removes underline when hovering*/
    text-decoration:none;
    color:#600091;
}

a:active {
    text-decoration:underline;
    color:#09ff00;
}

table {
    text-align:center;
    color:#1b0029;
    border:2px solid #1b0029;
    background-color:#dad7cd;
    margin-left:auto;
    margin-right:auto;
}

th {
    border:2px solid #1b0029;
    padding:0px 5px;
}

td {
    border:1px solid #1b0029;
    padding:0px 5px;
}
textarea{
    width:400px;
    height:150px
}

.site-logo{
    display:inline-block;
    padding:10px;
}

.navigation-list{
    list-style-type: none;
    padding-left:0;
}

.navigation-list__item {
    display:inline-block;
    margin-left:15px;
}

.navigation-list__item--active{
    text-decoration:underline;
    color:#600091;

}

.navigation-list__item--active:hover, .navigation-list__item--active:focus{
    cursor:default;
    opacity:1;

}

.image-link{
    text-decoration:none;
}

.profile__portrait {
    width:250px;
    height:auto;
    float:left;
    margin:10px;
    border-radius:25%;
}
.profile{
    max-width:700px;
    margin:0 auto;
    text-align: left;
}
.xtra-line-space {
    line-height:1.6;
}

.page-footer {
    position:fixed;
    height:100px;
    width:100%;
    bottom:0;
    left:0;

    background-color: #dad7cd;
    
    clear: both;
    display: flex;
    flex-direction:column;
    text-align:center;

}

.page-header {
    display:flex;
    width:100%;
    padding:0px;
    margin:0;
    background-color: #344e41;

}

.page-header__item {
    flex: 0 1 200px;

}

.page-header .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;

}