/*
Colors!
White: #fff
Black: #000
Background light green: #a3b18a
Accent light green: #dad7cd
Text Color -- Dark purple accent: #1b0029
Link hover color: #600091
Accent dark green: #344e41


*/

:root {
    --background-color: #a3b18a;
    --accent-light-green: #dad7cd;
    --accent-dark-green: #344e41;
    --accent-purple: #1b0029;
    --accent-bright-purple: #600091;
    --active-green:#09ff00;

    --default-spacing: 10px;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Amethysta", system-ui;
    font-weight: 400;
    font-style: normal;
    display:flex;
    flex-direction:column;
    background-color:var(--background-color);
    border: 8px solid var(--accent-dark-green);
    margin:auto;
    min-height:94vh;
}


main{
    margin:var(--default-spacing);
    margin-bottom:130px;
    text-align:center;

}


p {
    color:var(--accent-purple);
}

.nav-link{
    text-decoration:none;
}

button,
.button{
    border:none;
    font-family:inherit;
    background-color:var(--accent-light-green);
    color: var(--accent-purple);
    text-decoration:none;
    margin:5px;
    padding:var(--default-spacing);
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);

    border-radius:3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    border-right: 3px solid rgba(0, 0, 0, 0.4);
    border-top: 3px solid rgba(255, 255, 255, 0.4);
    border-left: 3px solid rgba(255, 255, 255, 0.4);

    font-size: 20px;
    transition: opacity .8s , color .8s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor:pointer;
    opacity:0.8;
    color:var(--accent-bright-purple);
    box-shadow:none;

    border-top: 3px solid rgba(0, 0, 0, 0.4);
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-right: 3px solid rgba(255, 255, 255, 0.4);
}

.navigation-list__item--active:hover, .navigation-list__item--active:focus{
    cursor:default;
    opacity:1;
}

.form__button{
    max-width:200px;
    margin:0 auto;    
}

.page-title{
    color:var(--accent-purple);
    text-align:center;
}
h1{
    color: var(--accent-purple);
}
h2{
    color:var(--accent-purple);
}
h3{
    color:var(--accent-purple);
}
a {
    color:var(--accent-purple);
}
label {
    color:var(--accent-purple);
}

a:hover, a:focus{
    /* removes underline when hovering*/
    text-decoration:none;
    color:var(--accent-bright-purple);
}

a:active {
    text-decoration:underline;
    color: var(--active-green);
}

table {
    text-align:center;
    color:var(--accent-purple);
    border:2px solid var(--accent-purple);
    background-color: var(--accent-light-green);
    margin-left:auto;
    margin-right:auto;
}

th {
    border:2px solid var(--accent-purple);
    padding:0px 5px;
}

td {
    border:1px solid var(--accent-purple);
    padding:0px 5px;
}

textarea{
    width:400px;
    height:150px;
    max-width: 90%;
}

.site-logo{
    display:inline-block;
    margin:auto 10px;
    padding:0;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.5);
}

.navigation-list{
    list-style-type: none;
    padding-left:0;
}

.navigation-list__item {
    display:inline-block;
    margin-left:15px;
}

.navigation-list__item--active{
    text-decoration:underline;
    color:var(--accent-bright-purple);

    border-top: 3px solid rgba(0, 0, 0, 0.4);
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    border-right: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow:none;
}



.image-link{
    text-decoration:none;
}

.profile{
    max-width:80%;
    margin:0 auto;
    text-align: center;
    justify-content: center;
    position:relative;
    display:flex;
    flex-direction:row;
}

.profile__portrait {
    min-width:250px;
    max-width: 30%;
    height:auto;
    border-radius:25%;
    box-shadow: 8px 8px 19px 0px rgba(0,0,0,0.8);
}
.profile__short-hook {
    height:auto;
    display:flex;
}
.profile__text {
    margin:auto 0 auto 20px;
}

.page-footer {
    position:fixed;
    height:120px;
    width:100%;
    bottom:0;
    left:0;

    background-color: var(--accent-light-green);
    
    clear: both;
    display: flex;
    flex-direction:column;
    text-align:center;

    border-top: 10px solid var(--accent-dark-green);

}

.legal-notice{
    font-size: 12px;

}

.page-header {
    display:flex;
    width:100%;
    padding:0px;
    margin:0;
    background-color: var(--accent-dark-green);

}

.page-header__item {
    flex: 0 1 200px;

}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;

}




.illustration{
    width:60%;
}

.page-main {
    margin-bottom:100px;
}

.no-background {
    background-color:rgb(255, 255, 255, 0);
}

#biography {
    background-color:rgba(255, 255, 255, 0.2);
    padding:var(--default-spacing);
    border: 4px solid var(--accent-dark-green);
    border-radius:5%;
}

.project-screenshot{
    width: 98%;
    height: auto;
}

@keyframes color-change{
    from{
        fill: #edc655;
    }
    to{
        fill: #f76414;
        
    }
}

@keyframes cloud-move__1{
    from{
        transform:translate(100px, 50px);
    }
    to{
        transform:translate(400px, 50px);
    }
}

@keyframes cloud-move__2{
    from{
        transform:translate(25px, 25px);
    }
    to{
        transform:translate(600px, 25px);
    }
}

/*grid fallback*/
.grid__item, 
.about-grid__item{
    display:inline-block;
    min-width:33%;

}

@supports (display:grid){
    .grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: var(--default-spacing);
        text-align:center;
        max-width:1250px;
        margin: 0 auto;

    }

    .grid__item{
        background-color: rgba(255, 255, 255, 0.4);
        border: 4px solid var(--accent-dark-green);
        border-radius: 10px;
        width: auto;
        padding: var(--default-spacing);
        min-height: auto;
        margin:0;
        box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);

    }

    .grid__item:last-child {
        grid-column: 3/3;
        grid-row: 1/3;
    }

    .about-grid{
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 30px;
        padding: var(--default-spacing);
        text-align:center;
        max-width:1750px;
        margin:0 auto;
    }
    .about-grid__item{
        width:auto;
        min-height: auto;
        margin:0;
    }
    .about-grid__item:first-child{
        grid-column: 1/1;
        grid-row: 1/3;
        box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
    }

}

@media all and (max-width:1250px){
    .illustration{
        width:100%;
}

}

@media all and (max-width:750px){
    .grid{
        grid-gap:var(--default-spacing);
    } 
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1{
        font-size:22px;
    }
    h2 {
        font-size: 18px;
    }
    h3{
        font-size: 16px
    }
    .profile {
        flex-direction:column;
    }
    .profile__portrait {
        margin:auto;

    }
    .about-grid{
        grid-gap:var(--default-spacing);
        grid-template-columns: 1fr;
    } 
    .about-grid__item:first-child{
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .page-header{
        display:block;
        text-align:center;
    }

    .page-header__item{
        margin: auto auto;
        text-align:center;
    }
    .page-header__item:last-child{
        text-align:center;
    }
    .navigation-list__item{
        margin: auto auto;
    }

}

@media all and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
    .button{
        font-size:12px
    }
}

@media all and (max-width: 350px){
    .button{
        font-size:10px;
    }    
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}